<div class="hero">
  <h1 className="title">Tokyo Toilet Accessibility Map</h1>
  <p>
    Welcome to Tokyo's only English language public toilet review site!
  </p>
  <button id="start-button">Start</button>
  <div class="toilet-logo"></div>
</div>
<script>
  document.getElementById('start-button').addEventListener('click', function(){
  window.location.href="/map"
  console.log('HI!')
  })
</script>
