.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  max-height: 80vh;
  padding: 16px !important;
  box-shadow: 0px 0px 5px red;
  min-width: 200px;
  border-radius: 16px;
  overflow-x: auto;
  max-width: 90vw;
  position: absolute;
}

.title-container {
  width: 100%;
  text-align: center;
}

.closer-container {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0px;
  justify-content: flex-end;
}
.closer {
  cursor: pointer;
  width: 22px !important;
  height: 22px;
  transition: 0.3s;
  position: relative;
  right: 10px;
}

.closer:hover {
  width: 24px;
  height: 24px;
}
