.reviews {
  max-width: 250px;
}

.toilet-info-container {
  display: flex;
  flex-direction: column;
}

.toilet-info-container h2 {
  text-decoration: underline;
  margin-bottom: 16px;
}
.review-item {
  margin-top: 8px;
  margin-bottom: 8px;
}
.toilet-info-container button {
  margin-bottom: 16px;
}

.toilet-info-container .reviews {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.individual-review {
  text-align: left;
  width: 100%;
  border-bottom-style: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom: 16px;
}

.cleanliness-stars {
  display: flex;
}

textarea {
  min-height: 200px;
  min-width: 250px;
}

.toilet-photo {
  max-width: 250px;
}
