// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
}

button {
  cursor: pointer;
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  font-size: large;
  background-color: white;
  color: red;
  border-color: red;
  border-style: solid;
}

.title {
  text-align: center;
}
.toilet-logo {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-image: asset-url('toilet.png');
  background-position: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px;
  width: 100vw;
  color: snow;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(40, 40, 22, 0.42), rgba(17, 39, 3, 0.53)), asset-url('tokyo.jpg');
  button {
    font-size: 28px;
  }
  p {
    font-style: italic;
    margin-bottom: 16px;
    font-size: large;
    font-weight: 400;
    text-align: center;
  }
  h1 {
    font-size: 13vw;
    text-align: center;
    margin-bottom: 16px;
  }
}

@media only screen and (orientation: landscape) {
  .hero {
    h1 {
      font-size: 9vw;
    }
  }
}
