// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.title {
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100vw;
  background-image: asset-url('tokyo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 8px;
  }
}
